@font-face {
    font-family: 'Thai Sans Lite';
    src: url('ThaiSansLite.woff2') format('woff2'),
        url('ThaiSansLite.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

